In [1]:
# Ques:1- Discuss string slicing and provide examples.

In [2]:
# Ans-1

In [3]:
str1= "I am a good students"
str1[0:4] #  the fourth index are exclusive (not added) gives n-1 values.

'I am'

In [4]:
str1[0:6]

'I am a'

In [6]:
str1[0:] # stop are not mentioned so gives all values(slicing with only start)

'I am a good students'

In [7]:
str2= " My name is Pramod Singh"
str2[:5] # slicing with only end (index 5th is exclusive)

' My n'

In [9]:
str2[-1] # negative slicing

'h'

In [14]:
string="Hello World"

In [15]:
string[0:]

'Hello World'

In [18]:
#except the last three character
str2[:-3]

' My name is Pramod Si'

In [16]:
# slicing with step
string[0:5:1] # by defaults step is 1

'Hello'

In [17]:
string[0:5:2]#syntax>> [start:end:step]

'Hlo'

In [20]:
 #iterate over the sequence in reverse order
string[::-1]

'dlroW olleH'

In [22]:
#you want only last characters
string[-3:]

'rld'

In [1]:
# Ques2 features of list in python
# ans are written in Google docs

In [2]:
# Ques 3- Describe how to access, modify and delete elements in a list with examples.

In [4]:
# Ans 3
# Accessing Elements in a List

grocery_list = ["Milk", "Orange", 1, 2.2, True, 3+5j]

In [5]:
grocery_list[0]

'Milk'

In [6]:
grocery_list[-1]

(3+5j)

In [11]:

grocery_list[1:4]

['Orange', 1, 2.2]

In [12]:


list1= ["Apple","Milk","Laddu","Barfi","Potato","Rasmalai"]

# Accessing elements using positive indexing
print(list1[0]) 
print(list1[2])  

# Accessing elements using negative indexing
print(list1[-1])  
print(list1[-3]) 

# Slicing the list
print(list1[1:4])  
print(list1[:3])  
print(list1[2:])   
print(list1[-3:-1])

Apple
Laddu
Rasmalai
Barfi
['Milk', 'Laddu', 'Barfi']
['Apple', 'Milk', 'Laddu']
['Laddu', 'Barfi', 'Potato', 'Rasmalai']
['Barfi', 'Potato']

In [29]:
# Modifying Elements in a List

movie_name=["Ramayan", "Dangal", "Sultan","PK","Queen","Raja"]
movie_name[1]= "Mahabharat"
print(movie_name)

['Ramayan', 'Mahabharat', 'Sultan', 'PK', 'Queen', 'Raja']

In [30]:
movie_name[4]= "Spiderman"
print(movie_name)

['Ramayan', 'Mahabharat', 'Sultan', 'PK', 'Spiderman', 'Raja']

In [31]:
movie_name.append("Batman") # Insert at the end of the list
print(movie_name)

['Ramayan', 'Mahabharat', 'Sultan', 'PK', 'Spiderman', 'Raja', 'Batman']

In [32]:
movie_name.insert(2,"Rajahindustani") #Insert object before index
movie_name

['Ramayan',
 'Mahabharat',
 'Rajahindustani',
 'Sultan',
 'PK',
 'Spiderman',
 'Raja',
 'Batman']

In [33]:
movie_name

['Ramayan',
 'Mahabharat',
 'Rajahindustani',
 'Sultan',
 'PK',
 'Spiderman',
 'Raja',
 'Batman']

In [34]:
# Deleting Elements from a List

movie_name

['Ramayan',
 'Mahabharat',
 'Rajahindustani',
 'Sultan',
 'PK',
 'Spiderman',
 'Raja',
 'Batman']

In [35]:
del movie_name[1] # Using del to remove an element by index
print(movie_name)

movie_name.remove("PK") # Using remove() to remove the first occurrence of a value
print(movie_name)

popped_item=movie_name.pop(2) ## Using pop() to remove and return an element by index
print(popped_item)
print(movie_name)

popped_item=movie_name.pop() # Using pop() without an index to remove the last element
print(popped_item)
print(movie_name)

['Ramayan', 'Rajahindustani', 'Sultan', 'PK', 'Spiderman', 'Raja', 'Batman']
['Ramayan', 'Rajahindustani', 'Sultan', 'Spiderman', 'Raja', 'Batman']
Sultan
['Ramayan', 'Rajahindustani', 'Spiderman', 'Raja', 'Batman']
Batman
['Ramayan', 'Rajahindustani', 'Spiderman', 'Raja']

In [37]:
# Ques 4 Compare and contrast tuples and lists with examples.
# Ans

In [38]:
# Creating and Accessing Elements in both Tuples and lists

# Creating a list

list1= [1,2,3.5,"Pramod","Apple","Book"]
print(list1[2])   # Accessing the elements through indexing
print(list1[-1])

list1[2]= "Orange"# Modifying the Elements in list
print(list1)

3.5
Book
[1, 2, 'Orange', 'Pramod', 'Apple', 'Book']

In [40]:
# Tuple
# Craeting a tuple

tuple1= (1,2,3.5,"Pramod","Apple","Book")
print(tuple1[2])   # Accessing the elements through indexing
print(tuple1[-1])

3.5
Book

In [41]:
tuple1[2]= "Orange"# Trying to modifying the tuples 
print(tuple1)  # it will raise an error( tuple are immutable)

TypeError: 'tuple' object does not support item assignment

In [43]:
# Methods of both List and Tuple

# Creating a list
list2 = [1, 2, 3]

# Using append() to add an element
list2.append(4)
print(list2)  

# Using remove() to remove an element
list2.remove(2)
print(list2)  

# Using sort() to sort the list
list2.sort()
print(list2)

[1, 2, 3, 4]
[1, 3, 4]
[1, 3, 4]

In [47]:
# Creating a tuple
tuple2 = (1, 2, 3, 2)

# Using count() to count occurrences of an element
count = tuple2.count(2)
print(count)  

# Using index() to find the first occurrence of an element
index = tuple2.index(1)
print(index)

2
0

In [50]:
# Ques-5- Describe key features of sets and provide examples of their use.
# Ans-
# Example of use cases of set


# Removing Duplicates from a List:

set1 = [1, 2, 3, "Brinjal", "Brinjal", "Apple", "Apple"]
s = set(set1)
print(s)

{1, 2, 3, 'Brinjal', 'Apple'}

In [51]:
# membership testing

basket= {"apple","banana","mango","orange"}
print('apple' in basket)  
print('grape' in basket)

True
False

In [52]:
# Operations in sets

book_self1={"maths","english","science","history"}
book_self2={"Physics","maths","bio","chemistry"}
# book that is in both self 
both_self= book_self1 & book_self2
print(both_self)

# Books that are inneither self 1 or self 2 not in both 
either_but_not_both= book_self1 ^ book_self2
print(either_but_not_both)

{'maths'}
{'english', 'Physics', 'chemistry', 'science', 'history', 'bio'}

In [53]:
# Ques 6 Discuss the use cases of tuples and set in Python Programming.

In [ ]:
#Tuple Examples

In [55]:
#example 1 # Fixed Collections of Items # useful when need not to change the data throug the program

# Coordinates of a point
point = (10, 20, 30)
print(point)

# Days of the week
days_of_week = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
print(days_of_week)

(10, 20, 30)
('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [56]:
#Examples 2
#Dictionary Keys
#Tuples can be used as keys in dictionaries because they are immutable

# Using tuples as dictionary keys
coordinates = {}
coordinates[(10, 20)] = "Point A"
coordinates[(30, 40)] = "Point B"
print(coordinates)

{(10, 20): 'Point A', (30, 40): 'Point B'}

In [63]:
#Example 3 
#Iterating through Multiple Sequences Simultaneously
#The zip() function can combine multiple sequences, creating tuples
name=("pramod","sunit","nitish")
marks=(89,65,87)
for name,marks in zip(name,marks):
    print(f" {name}:{marks}")

 pramod:89
 sunit:65
 nitish:87

In [64]:
# Set Examples

In [66]:
# Example 1
#Removing Duplicates

numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}

In [68]:
# Exapmple 2
# Membership Testing
basket= {"apple","banana","mango","orange"}
print('apple' in basket)  
print('grape' in basket)

True
False

In [71]:
# Examples 3
#Finding Unique Elements
items = ["apple", "banana", "apple", "orange"]
unique_items = set(items)
print(unique_items)

{'apple', 'orange', 'banana'}

In [72]:
#Ques -7 Describe how to add, delete and modify items in dictionary with examples
# Adding items

# Creating an initial dictionary
student= {"name": "Pramod","Age":24}

In [73]:
student

{'name': 'Pramod', 'Age': 24}

In [75]:
# Adding a new key-value pair
student["course"] = "Data_Analytics"
print(student)

{'name': 'Pramod', 'Age': 24, 'course': 'Data_Analytics'}

In [8]:
#Adding a key-value pair conditionally

student= {"name": "Pramod","Age":24}
if "city" not in student:
    student["city"]="New Delhi"
print(student)

{'name': 'Pramod', 'Age': 24, 'city': 'New Delhi'}

In [77]:
# Deleting Items 
student= {"name": "Pramod","Age":24,"course":"Data_Analytics"}

del student["course"]  # Deleting an item using del
print(student)

{'name': 'Pramod', 'Age': 24}

In [78]:
student= {"name": "Pramod","Age":24,"course":"Data_Analytics"}

student.pop("course") # Deleting an item using pop
print(student)

{'name': 'Pramod', 'Age': 24}

In [80]:
student= {"name": "Pramod","Age":24,"course":"Data_Analytics"}

removed_item= student.pop("course") # Deleting an item using pop
print(student,"Removed Item:",removed_item)

{'name': 'Pramod', 'Age': 24} Removed Item: Data_Analytics

In [1]:
# Modifying Items
#To modify an item in a dictionary, we can assign a new value to an existing key

student= {"name": "Pramod","Age":24,"course":"Data_Analytics"}
student["Age"]= 25
print(student)

{'name': 'Pramod', 'Age': 25, 'course': 'Data_Analytics'}

In [2]:
## Modifying a key-value pair conditionally
student= {"name": "Pramod","Age":24,"course":"Data_Analytics"}
if student["Age"]==24:
    student["Age"]= 26
print(student)

{'name': 'Pramod', 'Age': 26, 'course': 'Data_Analytics'}

In [3]:
#Using a Loop to Modify Items 
marks={"Pramod": 90,"Sunit":56,"Nitish":78,"Ram": 87}

for student in marks:
    marks[student]+=5
print(marks)

{'Pramod': 95, 'Sunit': 61, 'Nitish': 83, 'Ram': 92}

In [4]:
# Using method

In [6]:
marks={"Pramod": 90,"Sunit":56,"Nitish":78,"Ram": 87}
marks.update({"Pramod":78})
print(marks)

{'Pramod': 78, 'Sunit': 56, 'Nitish': 78, 'Ram': 87}

In [9]:
# Ques 8 Discuss the importance of Dictionary keys being immutable and provide examples
#Immutable Types (can be used as dictionary keys):

# Example dictionary with immutable keys
dict1 = {
    1: 'one',
    2: 'two',
    'three': 3,
    (4, 5): 'tuple',
    frozenset({6, 7}): 'frozenset'
}
print(dict1)

{1: 'one', 2: 'two', 'three': 3, (4, 5): 'tuple', frozenset({6, 7}): 'frozenset'}

In [19]:
# Mutable Types (cannot be used as dictionary keys)

dict1 = {
    1: 'one',
    2: 'two',
    'three': 3,
    {4, 5}: 'set', # set are unhashable
    frozenset({6, 7}): 'frozenset'
}
print(dict1)

TypeError: unhashable type: 'set'

In [12]:
d = {(1, 2, 3): "abc"} # tuple are hashable
d

{(1, 2, 3): 'abc'}

In [14]:
d = {[1, 2, 3]:"Ajay"}
print(d) # list are unhashable

TypeError: unhashable type: 'list'

In [15]:
# Hashing and retrieval
key = [1, 2]
d = {tuple(key): 'value'}  # Convert list to tuple to use as key
key.append(3)
print(d) 
#even if the original list changes, the tuple key remains unchanged and correctly hashes to the stored value

{(1, 2): 'value'}

In [16]:
key

[1, 2, 3]

In [18]:
# all keyss must be immutable
d = {'name': ['Sanjay', "Ajay", 1, 2], 'email': 'aj@gmail.com', 'contact': (1234, 678)}
d

{'name': ['Sanjay', 'Ajay', 1, 2],
 'email': 'aj@gmail.com',
 'contact': (1234, 678)}